
    <footer>
        <p>Todos los derechos reservados</p>
    </footer>
   <!-- <script src="../src/app.js"></script> -->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>